<div class="post">
    <img src="<%- post.picture %>" />
    <div class="post-content">
        <div class="title">
            <%= post.title %>
        </div>
        <div class="description">
            <%= post.description %>
        </div>
    </div>
</div>